
# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
dist/
*.egg-info/

# Development/IDE
.git/
.gitignore
.idea/
.vscode/
*.swp

# Environment
.env
.env.*
!.env.example

# Local development
data/
*.log
.DS_Store
